html{
  background-color: white;
}

div{
  margin:0px;
  padding: 0px;
  border-width:0px;
}

#board{
  height:440px;
  width:440px;
  border-color: black;
  border-width: 5px;
  background-color: white;
  border-style:solid;
  position: relative;
  left:10%;
}

.light-square{
  position:relative;
  display:inline-block;
  background-color: tan;
  height:55px;
  width:55px;
  float: left;
}

.dark-square{
  position:relative;
  display:inline-block;
  background-color: rgb(48, 5, 5, 0.84);
  height:55px;
  width:55px;
  float: left;
}

.black-piece{
  background-color: black;
  display: inline-block;
  position: absolute;
  height:40px;
  width:40px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 24px;
}

.red-piece{
  background-color: red;
  display: inline-block;
  position: absolute;
  height:40px;
  width:40px;
  margin-left: 8px;
  margin-top: 8px;
  border-radius: 24px;
}
